/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
medium: 500
semi-bold:600
bold: 700

- Line heights
Default: 1
hero_heading: 1.05
paragraph: 1.6
1.2


- Letter spacing
hero_heading: -0.5px

--- 02 COLORS

- Primary:
 #e67e22
- Tints:
#fdf2e9
- Shades:
 #cf711f
 #2e1907
- Accents:
- Greys
#555
#fff
#333
#ddd
#888
#767676 lightest grey allowed on #fff
#6f6f6f (lightest color allowed on #fdf2e9)

--- letter spacing
-0.5px
0.75px

--- 05 SHADOWS

--- 06 BORDER-RADIUS
 -9px
 -11px
 
--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


/*******************************/
/* GENERAL STYLES              */
/*******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global focus setting */
*:focus {
    outline: none;
    /* looks ugly and dont follow
    border radius */
    /* outline: 4px dotted #e67e22;
    outline-offset: 0.8rem; */

    /* box shadow trick  */
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/* setting custom default(16px) font size 
to set 1rem = default font size in px which
helps to build fluit layouts */
/* we need to set 62.5% which is 10px of 16px 
keep in view user preference who wanna change
in future */

html {
    font-size: 62.5%;
    /* mobile nav  */
    overflow-x: hidden;

    /* making scroll behaviour smooth  for nav links*/
    /* but this dont work in other browsers like safari 
    and we solve it using js */
    /* scroll-behavior: smooth; */
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
    /* mobile nav  */
    overflow-x: hidden;
}

 html,
 body {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    /* problemetic */
    /* margin-bottom: 9.6rem; */
}

/* /* 1st method to solve this problem  */
/* .grid:last-child {
    margin-bottom: 0;
} */

/* 2nd way  */
.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.grid--center-v {
    align-items: center;
}

.heading__primary,
.heading__secondary {
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
}

.heading__primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading__secondary {
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading__tertiary {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: #333;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #cf711f;
    font-weight: 500;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.button,
.button:link,
.button:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 1.2rem;
    font-weight: 600;
    /* smooth transition for bg */
    transition: background-color 0.3s;

    /* form button */
    cursor: pointer;
    border: none;
}

.button--form {
    color: #fff;
    background-color: #2e1907;
    align-self: flex-end;
    padding: 1.4rem;
}

.button--form:hover {
    background-color: #fff;
    color: #555;
}

.button--full:link,
.button--full:visited {
    background-color: #e67e22;
    color: #fff;
}

.button--full:hover,
.button--full:active {
    background-color: #cf711f;
}

.button--outline:link,
.button--outline:visited {
    background-color: #fff;
    color: #555;
}

.button--outline:hover,
.button--outline:active {
    background-color: #fdf2e9;
    /* it wont work here as its affecting layout */
    /* border: 2px solid #fff; */
    /* trick for inner border using box shadow inset */
    box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

strong {
    font-weight: 500;
}

.center-text {
    text-align: center;
}

.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

.link:link,
.link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    color: #e67e22;
    border-bottom: 1px solid currentColor;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: #cf711f;
    /* this will disturb layout*/
    /* border-bottom: none; */
    /* trick to solve this */
    border-bottom: 1px solid transparent;
}